In [2]:
import pandas as pd
import numpy as np

In [3]:
file = pd.read_json("/home/bars1k/projects/game_stats/python/players_data.json")
file.head(1)

,player_id,player_name,steam_id,rank,experience,frags,deaths,headshots,frags_per_minute,kill_streak,death_streak,suicides,actions,side_peak,weapons_stats,sessions
0,4720,B a r s 1 k,Steam: STEAM_0:1:599056532,Место:\n\n77,"Опыт:\n\n18,029","Фраги:\n\n\t\t\t\t\t\t14,742 (781*)","Смерти:\n\n\t\t\t\t\t\t8,752 (467*)","Хедшоты:\n\n\t\t\t\t\t\t11,612 (587*)",Фрагов в минуту:\n\n\t\t\t\t\t\t1.31,Серия убийств:\n\n\t\t\t\t\t\t13,Серия смертей:\n\n\t\t\t\t\t\t10,Самоубийства:\n\n\t\t\t\t\t\t39,"[2\nDouble Kill (2 фрага)\n87\n87, 3\nTriple K...","{'CT_side': '1 Спецназ 20 35.09%', 'T_side': '...",{'ak47': '1 1.00 681 87.20% 537 91.48% 0.79...,"[2025-06-21\n174 \n18,029\n0дн 00:48:32ч\n65\n..."

In [4]:
file[file["player_id"] == 4720]

,player_id,player_name,steam_id,rank,experience,frags,deaths,headshots,frags_per_minute,kill_streak,death_streak,suicides,actions,side_peak,weapons_stats,sessions
0,4720,B a r s 1 k,Steam: STEAM_0:1:599056532,Место:\n\n77,"Опыт:\n\n18,029","Фраги:\n\n\t\t\t\t\t\t14,742 (781*)","Смерти:\n\n\t\t\t\t\t\t8,752 (467*)","Хедшоты:\n\n\t\t\t\t\t\t11,612 (587*)",Фрагов в минуту:\n\n\t\t\t\t\t\t1.31,Серия убийств:\n\n\t\t\t\t\t\t13,Серия смертей:\n\n\t\t\t\t\t\t10,Самоубийства:\n\n\t\t\t\t\t\t39,"[2\nDouble Kill (2 фрага)\n87\n87, 3\nTriple K...","{'CT_side': '1 Спецназ 20 35.09%', 'T_side': '...",{'ak47': '1 1.00 681 87.20% 537 91.48% 0.79...,"[2025-06-21\n174 \n18,029\n0дн 00:48:32ч\n65\n..."
82,4720,B a r s 1 k,Steam: STEAM_0:1:599056532,Место:\n\n77,"Опыт:\n\n18,029","Фраги:\n\n\t\t\t\t\t\t14,742 (781*)","Смерти:\n\n\t\t\t\t\t\t8,752 (467*)","Хедшоты:\n\n\t\t\t\t\t\t11,612 (587*)",Фрагов в минуту:\n\n\t\t\t\t\t\t1.31,Серия убийств:\n\n\t\t\t\t\t\t13,Серия смертей:\n\n\t\t\t\t\t\t10,Самоубийства:\n\n\t\t\t\t\t\t39,"[2\nDouble Kill (2 фрага)\n87\n87, 3\nTriple K...","{'CT_side': '1 Спецназ 20 35.09%', 'T_side': '...",{'ak47': '1 1.00 681 87.20% 537 91.48% 0.79...,NaN

In [5]:
data = file.head(2)

data["player_name"] = data["player_name"].str.strip()
data["steam_id"] = data["steam_id"].str.split().str[-1]
data["rank"] = data["rank"].str.split("\n").str[-1].astype(int)
data["experience"] = data["experience"].str.split("\n").str[-1].str.replace(",", "").astype(int)

/tmp/ipykernel_2115/1295088849.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["player_name"] = data["player_name"].str.strip()
/tmp/ipykernel_2115/1295088849.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["steam_id"] = data["steam_id"].str.split().str[-1]
/tmp/ipykernel_2115/1295088849.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["rank"] = data["rank"].str.split("\n").str[-1].astype(int)
/tmp/ipykernel_2115/1295088849.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["experience"] = data["experience"].str.split("\n").str[-1].str.replace(",", "").astype(int)

In [6]:
def get_two_values(df, col, col1_name, col2_name):
    values = df[col].str.split("\t").str[-1].str.split()
    all_time_value = values.str[0].str.replace(",", "").astype(int)
    last_month_value = values.str[1].str[1:-2].str.replace(",", "").astype(int)

    df[col1_name] = all_time_value
    df[col2_name] = last_month_value
    return df

data = get_two_values(data, "frags", "all_time_frags", "last_month_frags")
data = get_two_values(data, "deaths", "all_time_deaths", "last_month_deaths")
data = get_two_values(data, "headshots", "all_time_headshots", "last_month_headshots")
data.drop(columns=["frags", "deaths", "headshots"], inplace=True)

/tmp/ipykernel_2115/3505743934.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col1_name] = all_time_value
/tmp/ipykernel_2115/3505743934.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col2_name] = last_month_value
/tmp/ipykernel_2115/3505743934.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col1_name] = all_time_value
/tmp/ipykernel_2115/3505743934.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col2_name] = last_month_value
/tmp/ipykernel_2115/3505743934.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col1_name] = all_time_value
/tmp/ipykernel_2115/3505743934.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col2_name] = last_month_value
/tmp/ipykernel_2115/3505743934.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=["frags", "deaths", "headshots"], inplace=True)

In [7]:
data["frags_per_minute"] = data["frags_per_minute"].str.split("\t").str[-1].astype(float)
data["kill_streak"] = data["kill_streak"].str.split("\t").str[-1].astype(int)
data["death_streak"] = data["death_streak"].str.split("\t").str[-1].astype(int)
data["suicides"] = data["suicides"].str.split("\t").str[-1].astype(int)

/tmp/ipykernel_2115/1848668093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["frags_per_minute"] = data["frags_per_minute"].str.split("\t").str[-1].astype(float)
/tmp/ipykernel_2115/1848668093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["kill_streak"] = data["kill_streak"].str.split("\t").str[-1].astype(int)
/tmp/ipykernel_2115/1848668093.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["death_streak"] = data["death_streak"].str.split("\t").str[-1].astype(int)
/tmp/ipykernel_2115/1848668093.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["suicides"] = data["suicides"].str.split("\t").str[-1].astype(int)

In [8]:
data

,player_id,player_name,steam_id,rank,experience,frags_per_minute,kill_streak,death_streak,suicides,actions,side_peak,weapons_stats,sessions,all_time_frags,last_month_frags,all_time_deaths,last_month_deaths,all_time_headshots,last_month_headshots
0,4720,B a r s 1 k,STEAM_0:1:599056532,77,18029,1.31,13,10,39,"[2\nDouble Kill (2 фрага)\n87\n87, 3\nTriple K...","{'CT_side': '1 Спецназ 20 35.09%', 'T_side': '...",{'ak47': '1 1.00 681 87.20% 537 91.48% 0.79...,"[2025-06-21\n174 \n18,029\n0дн 00:48:32ч\n65\n...",14742,781,8752,467,11612,587
1,46457,Иркут 2.0,STEAM_0:0:941463415,1,30565,1.81,15,9,6,"[2\nDouble Kill (2 фрага)\n1,174\n1,174, 3\nPi...","{'CT_side': '1 Спецназ 313 32.23%', 'T_side': ...","{'ak47': '1 1.00 6,160 63.05% 2,968 78.87% ...",NaN,24696,9770,9432,3768,9319,3763

In [9]:
def get_actions(df):
    actions = df[["player_id", "actions"]]
    actions = actions.explode("actions").reset_index(drop=True)

    values = actions["actions"].str.split("\n")
    actions["action_name"] = values.str[1]
    actions["value"] = values.str[2].str.replace(",", "").astype(int)

    actions.drop(columns=["actions"], inplace=True)
    return actions

actions = get_actions(data)
data.drop(columns=["actions"], inplace=True)
actions.head()

/tmp/ipykernel_2115/2811095456.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=["actions"], inplace=True)

   player_id            action_name  value
0       4720  Double Kill (2 фрага)     87
1       4720  Triple Kill (3 фрага)     54
2       4720       Pick up the Bomb     35
3       4720   Domination (4 фрага)     27
4       4720          Drop the Bomb     25

In [ ]:
df1 = file.copy()

df1["side_peak"].apply(lambda x: x["CT_side"])

# sides = pd.json_normalize(df1["side_peak"])

# sides
# sides["CT_side"]

0      {'CT_side': '1
Спецназ
20
35.09%', 'T_side': '...
1      {'CT_side': '1
Спецназ
313
32.23%', 'T_side': ...
2      {'CT_side': '1
Спецназ
103
22.49%', 'T_side': ...
3      {'CT_side': '1
Спецназ
203
32.22%', 'T_side': ...
4      {'CT_side': '1
Спецназ
75
29.64%', 'T_side': '...
                             ...
96     {'CT_side': '1
Спецназ
188
35.40%', 'T_side': ...
97     {'CT_side': '1
Спецназ
94
31.97%', 'T_side': '...
98     {'CT_side': '1
Спецназ
114
31.84%', 'T_side': ...
99     {'CT_side': '1
Спецназ
25
28.74%', 'T_side': '...
100    {'CT_side': '1
Спецназ
32
40.00%', 'T_side': '...
Name: side_peak, Length: 101, dtype: object

In [11]:
weapons_cols = pd.json_normalize(data["weapons_stats"])
weapons = pd.merge(data["player_id"], weapons_cols, left_index=True, right_index=True, how="left")
weapons = weapons.melt(id_vars=["player_id"], var_name="weapon", value_name="value").dropna()

values = weapons["value"].str.split("\n")
weapons["frags"] = values.str[3].str.replace(",", "").astype(int)
weapons["headshots"] = values.str[6].str.replace(",", "").astype(int)

weapons.drop(columns=["value"], inplace=True)
data.drop(columns=["weapons_stats"], inplace=True)
weapons

/tmp/ipykernel_2115/631642349.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=["weapons_stats"], inplace=True)

    player_id     weapon  frags  headshots
0        4720       ak47    681        537
1       46457       ak47   6160       2968
2        4720     deagle     35         30
3       46457     deagle     11          5
4        4720       m4a1     34         18
5       46457       m4a1    989        415
6        4720        awp     25          2
7       46457        awp   1695        158
8        4720  hegrenade      4          0
9       46457  hegrenade    173          0
10       4720      knife      2          0
11      46457      knife    254          0
13      46457      sg552    472        206
15      46457      scout     16         11

In [12]:
data

,player_id,player_name,steam_id,rank,experience,frags_per_minute,kill_streak,death_streak,suicides,side_peak,sessions,all_time_frags,last_month_frags,all_time_deaths,last_month_deaths,all_time_headshots,last_month_headshots
0,4720,B a r s 1 k,STEAM_0:1:599056532,77,18029,1.31,13,10,39,"{'CT_side': '1 Спецназ 20 35.09%', 'T_side': '...","[2025-06-21\n174 \n18,029\n0дн 00:48:32ч\n65\n...",14742,781,8752,467,11612,587
1,46457,Иркут 2.0,STEAM_0:0:941463415,1,30565,1.81,15,9,6,"{'CT_side': '1 Спецназ 313 32.23%', 'T_side': ...",NaN,24696,9770,9432,3768,9319,3763

In [13]:
sessions = pd.DataFrame(data["sessions"].dropna()[0], columns=["values"])  
values = sessions["values"].str.split("\n")

sessions["date"] = values.str[0].astype("datetime64[ns]")
sessions["experience_change"] = values.str[1].astype(int)
sessions["experience"] = values.str[2].str.replace(",", "").astype(int)

time_played = values.str[3].str.split().str[-1].str[:-1]
sessions["time_played_minutes"] = round(pd.to_timedelta(time_played).dt.seconds / 60, 0).astype(int)

sessions["frags"] = values.str[4].astype(int)
sessions["deaths"] = values.str[5].astype(int)
sessions["headshots"] = values.str[7].astype(int)   

sessions.drop(columns=["values"], inplace=True)
data.drop(columns=["sessions"], inplace=True)
sessions

/tmp/ipykernel_2115/313197419.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=["sessions"], inplace=True)

,date,experience_change,experience,time_played_minutes,frags,deaths,headshots
0,2025-06-21,174,18029,49,65,34,41
1,2025-06-20,-18,17855,27,25,21,18
2,2025-06-19,289,17873,229,281,183,218
3,2025-06-18,515,17584,123,193,95,143
4,2025-06-17,-47,17069,37,27,26,20
5,2025-06-16,59,17116,33,40,28,34
6,2025-06-14,108,17057,28,44,21,38
7,2025-06-13,125,16949,38,43,25,32
8,2025-06-04,87,16824,48,57,29,39
9,2025-06-03,0,16737,0,0,0,0

In [14]:
data

,player_id,player_name,steam_id,rank,experience,frags_per_minute,kill_streak,death_streak,suicides,side_peak,all_time_frags,last_month_frags,all_time_deaths,last_month_deaths,all_time_headshots,last_month_headshots
0,4720,B a r s 1 k,STEAM_0:1:599056532,77,18029,1.31,13,10,39,"{'CT_side': '1 Спецназ 20 35.09%', 'T_side': '...",14742,781,8752,467,11612,587
1,46457,Иркут 2.0,STEAM_0:0:941463415,1,30565,1.81,15,9,6,"{'CT_side': '1 Спецназ 313 32.23%', 'T_side': ...",24696,9770,9432,3768,9319,3763

In [15]:
data.columns

Index(['player_id', 'player_name', 'steam_id', 'rank', 'experience',
       'frags_per_minute', 'kill_streak', 'death_streak', 'suicides',
       'side_peak', 'all_time_frags', 'last_month_frags', 'all_time_deaths',
       'last_month_deaths', 'all_time_headshots', 'last_month_headshots'],
      dtype='object')

In [16]:
data.dtypes

player_id                 int64
player_name              object
steam_id                 object
rank                      int64
experience                int64
frags_per_minute        float64
kill_streak               int64
death_streak              int64
suicides                  int64
side_peak                object
all_time_frags            int64
last_month_frags          int64
all_time_deaths           int64
last_month_deaths         int64
all_time_headshots        int64
last_month_headshots      int64
dtype: object

In [17]:
actions.dtypes

player_id       int64
action_name    object
value           int64
dtype: object

In [18]:
sessions.dtypes

date                   datetime64[ns]
experience_change               int64
experience                      int64
time_played_minutes             int64
frags                           int64
deaths                          int64
headshots                       int64
dtype: object

In [19]:
weapons.dtypes

player_id     int64
weapon       object
frags         int64
headshots     int64
dtype: object